 <div class="container">

<br/><br/>      <div class="row">
		<div class="person_wraper col-md-4">
			<div class="card" style="width: 20rem;">
				<img class="card-img-top" src="<%= @politician.avatar %>" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title"><%= @politician.full_name %></h4>
					<p class="card-text"><%= @politician.summary %></p>
				</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><%== @politician.address %></li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item"><%= @politician.mobile %><br/><%= @politician.landline %></li>
			</ul>
			<div class="card-body">
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>


</div>
        <div class="col-md-8"><table class="table">
  <thead>
    <tr>
      <th>Proposition</th>
      <th>Type</th>
      <th>Proposition Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vot.each do |vote| %>
<% if (vote.member_name == @politician.full_name) %>
      <tr>
        <td><%= vote.proposition_id %></td>
        <td><%= vote.vote_type %></td>
        <td><%= vote.proposition_title %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
      </div>


<div class="row">

	<div class="col-md-3">




  </div>
  </div>
